<form [formGroup]="formPositive">
  <h2>Formato numérico positivo</h2>
    <div class="input-group">
      <input type="text" formControlName="positive" appDecimalFormat />
    </div>
    <p>Valor formateado: {{ formPositive.get('positive')?.value }}</p>
</form>
<form [formGroup]="formNegative">
  <h2>Formato numérico negativo</h2>
  <div>
    <input type="text" formControlName="negative" appDecimalFormatNegative />
  </div>
  <p>Valor formateado: {{ formNegative.get('negative')?.value }}</p>
</form>